body {
  padding: 20px;
  font-family: JetBrains Mono, monaco, monospace;
  font-weight: lighter;
  background-color: #000000;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  /* overflow-y: hidden; */
  height: 80vh;
}

/* NOTE  EYE */





/* NOTE  EYE */


.marble {
  width: 3em;
  height: 3em;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff, -20px 0 80px #fff, 20px 0 80px #fff,
    inset 0 0 50px #fff, inset 50px 0 80px #fff, inset -50px 0 80px #fff,
    inset 50px 0 300px #fff, inset -50px 0 300px #fff;
  animation: pulsate 6s linear infinite;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 20px #fff, 20px 0 80px #fff, -20px 0 80px #fff,
      inset 0 0 50px rgb(255, 164, 164), inset -50px 0 80px #fff,
      inset 50px 0 80px #fff, inset -50px 0 300px #fff, inset 50px 0 300px #fff;
  }
}

.info-div {
  width: 60%;
}
.korpis {
  position: relative;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
}
/* .korpis-container {
  position: relative;
  top: 1%;
  left: 25%;
  right: 25%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 15px;
} */
/* nav {
  position: fixed;
} */
.dot {
  font-family: DOT19;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 5em;
  -webkit-text-stroke-width: 1px;
  font-color: #000000;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.big {
  font-size: 5em;
}

.hide {
  display: none;
}

.inferi {
  font-family: inferi;
}

.elegans {
  font-family: Oroban Elegans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.left-btn {
  position: fixed;
  top: 50%;
  left: 15%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 15px;
}

.right-btn {
  position: fixed;
  top: 50%;
  right: 15%;
  margin-top: -50px;
  margin-right: -100px;
  padding: 15px;
}

.footer {
  position: fixed;
  top: 65%;
  margin-top: -50px;
  font-family: JetBrains Mono;
}

.input-div {
  position: fixed;
  bottom: 0%;
  margin-top: -80%;
  font-family: JetBrains Mono, monospace;
  /* position: static; */
  /* height: 20em;
  width: 100%; */
  /* overflow: auto;
  margin-right: 14px;
  padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
  padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
  -ms-overflow-style: none;

  scrollbar-width: none; */
}

.korpis {
  position: fixed;
}

.input-box {
  height: 100%;
  width: 80%;
  font-family: JetBrains Mono;
  font-size: 0.8em;
}

.output {
  justify-content: flex-start;
  margin: auto;
  width: 40%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}

.smalltext {
  font-size: 0.7em;
}

/* .info-box {
  justify-content: flex-start;
  margin: auto;
  width: 80%;
  padding: 10px;
  color: rgb(255, 255, 255);
} */
.nhg {
  font-size: 2em;
  font-family: NeueHaasGroteskDisp Pro Md;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

#container-div {
  margin-top: -15px;
  position: static;
  height: 26em;
  width: 100%;
  overflow: auto;
  margin-right: 14px;
  padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
  padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.scrollbar {
  margin-left: 40px;

  /* float: left; */
  /* height: 300px; */
  /* width: 65px; */
  overflow-y: scroll;
  margin-bottom: 25px;
}

.gen-box {
  justify-content: flex-start;
  margin: auto;
  width: 40%;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.center {
  text-align: center;
  margin: auto;
  width: auto;
  padding: 10px;
  align-content: center;
  justify-content: flex-center;
}

.text {
  font-size: 0.85em;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
}

footer {
  display: flex;
  position: absolute;
  padding: 20px;
  left: 0;
  bottom: 0 !important;
  height: 80px;
  width: 100%;
  overflow: hidden;
}

/* .gen {
  justify-content: flex-end;
  margin-left: 25%;
  margin-right: 25%;
  width: 40%;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 0.85em;
} */

.spin {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0 {
    text-shadow: 0 0 black;
  }

  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }

  50% {
    text-shadow: 0 0 black;
  }

  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }

  100% {
    text-shadow: 0 0 black;
  }
}

.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}

.link:hover {
  transition: color 0.15s ease-in;
}

.link:active {
  transition: color 0.15s ease-in;
}

.link:focus {
  transition: color 0.15s ease-in;
  outline: transparent;
}

@media only screen and (max-width: 40em) {
  .output {
    /* width: 80%; */
    font-size: 0.7em;
    font-weight: lighter;
  }

  body {
    padding: 20px;
    font-family: JetBrains Mono, monaco, monospace;
    font-weight: lighter;
    background-color: #000000;
    color: rgb(255, 255, 255);
    overflow-x: auto;
    overflow-y: auto;
    height: 80vh;
  }

  .scrollbar {
    margin-left: auto;

    /* float: left; */
    /* height: 300px; */
    /* width: 65px; */
    overflow-y: auto;
    margin-bottom: auto;
  }
}
@media only screen and (max-height: 600px) {
  .output {
    width: 60%;
    font-size: 0.7em;
  }

  .input-box {
    min-height: 10em;
    max-height: 15em;
  }

  .input-div {
    top: 60%;
  }
}

@media only screen and (min-width: 400px) {
  .output {
    width: 60%;
    font-size: 0.8em;
  }

  .input-box {
    height: 30em;
  }

  #container-div {
    height: 45em;
  }

  .input-div {
    top: 60%;
  }

  .smalltext {
    font-size: 0.8em;
  }
}

@media only screen and (max-height: 800px) {
  .input-box {
    height: 10em;
  }

  #container-div {
    margin-top: -15px;
    position: static;
    height: 24em;
    width: 100%;
    overflow: auto;
    margin-left: 14px;
    padding-left: 28px;
    margin-right: 14px;
    padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
    padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
    -ms-overflow-style: none;

    scrollbar-width: none;
  }

  .input-div {
    position: sticky;
    bottom: 0%;
    margin-top: -10px;
    font-family: JetBrains Mono;
    /* position: static; */
    /* height: 20em;
  width: 100%; */
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
    padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
    -ms-overflow-style: none;

    scrollbar-width: none;
  }
}
/* NOTE */

@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.scene {
  width: 100px;
  height: 100px;
  margin: 2% auto;
  perspective: 1000px;
  position: fixed;
  margin-left: 85%;
}
.wrapper {
  width: 100%;
  height: 100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.ball {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
}
.ball .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px;
  border-style: dashed;
  border-radius: 50%;
  opacity: 0;
  animation: show 0.75s forwards ease-in-out;
}
.ring:nth-child(1) {
  color: #ffffff;
  transform: rotateY(4deg);
  animation-delay: 0s;
}
.ring:nth-child(2) {
  color: #ffffff;
  transform: rotateY(8deg);
  animation-delay: 0.1s;
}
.ring:nth-child(3) {
  color: #ffffff;
  transform: rotateY(12deg);
  animation-delay: 0.2s;
}
.ring:nth-child(4) {
  color: #ffffff;
  transform: rotateY(16deg);
  animation-delay: 0.3s;
}
.ring:nth-child(5) {
  color: #ffffff;
  transform: rotateY(20deg);
  animation-delay: 0.4s;
}
.ring:nth-child(6) {
  color: #ffffff;
  transform: rotateY(24deg);
  animation-delay: 0.5s;
}
.ring:nth-child(7) {
  color: #ffffff;
  transform: rotateY(28deg);
  animation-delay: 0.6s;
}
.ring:nth-child(8) {
  color: #ffffff;
  transform: rotateY(32deg);
  animation-delay: 0.7s;
}
.ring:nth-child(9) {
  color: #ffffff;
  transform: rotateY(36deg);
  animation-delay: 0.8s;
}
.ring:nth-child(10) {
  color: #ffffff;
  transform: rotateY(40deg);
  animation-delay: 0.9s;
}
.ring:nth-child(11) {
  color: #ffffff;
  transform: rotateY(44deg);
  animation-delay: 1s;
}
.ring:nth-child(12) {
  color: #ffffff;
  transform: rotateY(48deg);
  animation-delay: 1.1s;
}
.ring:nth-child(13) {
  color: #ffffff;
  transform: rotateY(52deg);
  animation-delay: 1s;
}
.ring:nth-child(14) {
  color: #ffffff;
  transform: rotateY(56deg);
  animation-delay: 0.9s;
}
.ring:nth-child(15) {
  color: #ffffff;
  transform: rotateY(60deg);
  animation-delay: 0.8s;
}
.ring:nth-child(16) {
  color: #ffffff;
  transform: rotateY(64deg);
  animation-delay: 0.7s;
}
.ring:nth-child(17) {
  color: #ffffff;
  transform: rotateY(68deg);
  animation-delay: 0.6s;
}
.ring:nth-child(18) {
  color: #ffffff;
  transform: rotateY(72deg);
  animation-delay: 0.5s;
}
.ring:nth-child(19) {
  color: #ffffff;
  transform: rotateY(76deg);
  animation-delay: 0.4s;
}
.ring:nth-child(20) {
  color: #ffffff;
  transform: rotateY(80deg);
  animation-delay: 0.3s;
}
.ring:nth-child(21) {
  color: #ffffff;
  transform: rotateY(84deg);
  animation-delay: 0.2s;
}
.ring:nth-child(22) {
  color: #ffffff;
  transform: rotateY(88deg);
  animation-delay: 0.1s;
}
.ring:nth-child(23) {
  color: #ffffff;
  transform: rotateY(92deg);
  animation-delay: 0s;
}
